.agreementRequest,
.definitionRequest,
.updateRequest{
  margin-top: 60px;
}
.agreementRequest .title,
.definitionRequest .title,
.updateRequest .title {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: var(--font_size_h2);
  line-height: 45px;
  color: var(--dark_col);
}
.agreementRequest .text,
.definitionRequest .text,
.updateRequest .text {
  font-family: var(--font_family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--grey_color);
  margin-bottom: 8px;
}
.agreementRequest .lander ,
.definitionRequest .lander,
.updateRequest .lander{
  background: var(--background_color);
  border-radius: 8px;
  max-width: 680px;
  width: 100% !important;
  padding: 12px 40px 12px 15px;
  min-height: 48px;
  font-family: var(--font_family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark_col) !important;
}
.agreementRequest .btns,
.updateRequest .btns{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.definitionRequest .spetificationImput,
.updateRequest .spetificationImput {
  position: relative;
}
.definitionRequest .del,
.updateRequest  .del{
  position: absolute;
  right: 16px;
  background-color: inherit;
  top: 50%;
  border: none;
}
.definitionRequest .add,
.updateRequest .add {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark_col);
  border: none;
  background-color: inherit;
  margin-left: auto;
  margin-top: 12px;
}
.definitionRequest .cancel,
.updateRequest  .cancel {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey_color);
  border: none
}
.definitionRequest .btnsContainer,
.updateRequest  .btnsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}