.agreementRequest,
.definitionRequest,
.updateRequest,
.executeRequest {
  margin-top: 60px;
}
.agreementRequest .title,
.definitionRequest .title,
.updateRequest .title,
.executeRequest .title {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: var(--font_size_h2) !important;
  line-height: 45px;
  color: var(--dark_col);
}
.agreementRequest .text,
.definitionRequest .text,
.updateRequest .text,
.executeRequest .text {
  font-family: var(--font_family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--grey_color);
  margin-bottom: 8px;
}
.agreementRequest .lender,
.definitionRequest .lender,
.updateRequest .lender,
.executeRequest .lender {
  background: var(--background_color);
  border-radius: 8px;
  max-width: 680px;
  width: 100% !important;
  padding: 12px 40px 12px 15px;
  min-height: 48px;
  font-family: var(--font_family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark_col) !important;
}
.agreementRequest .btns,
.updateRequest .btns {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.definitionRequest .specificationInput,
.updateRequest .specificationInput {
  position: relative;
}
.definitionRequest .specificationInput {
  max-width: 450px;
}
.definitionRequest .container {
  background: #f7f5f9;
  border-radius: 20px;
  width: 680px;
  height: 119px;
  padding: 20px 28px 28px 28px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.definitionRequest .btnType {
  background: #eae6ee;
  border-radius: 8px;
  width: 150px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #120023;
  text-align: left;
  border: unset;
  padding-left: 16px;
}
.definitionRequest .container > div > span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #aca2b5;
  display: inline-block;
  margin-bottom: 8px;
}
.definitionRequest .container:last-child {
  margin-bottom: 0;
}
.definitionRequest .del,
.updateRequest .del {
  position: absolute;
  right: 16px;
  background-color: inherit;
  top: 12px;
  border: none;
}
.definitionRequest .del {
  right: -50%;
}
.definitionRequest .inputMenuType {
  width: 450px !important;
}
.definitionRequest .add,
.updateRequest .add {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark_col);
  border: none;
  background-color: inherit;
  margin-left: auto;
  margin-top: 12px;
}
.definitionRequest .cancel,
.updateRequest .cancel {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey_color);
  border: none;
}
.definitionRequest .btnsContainer,
.updateRequest .btnsContainer,
.executeRequest .btnsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.value {
  font-size: 16px;
  font-family: var(--font_family);
  font-weight: 500;
}
.updateRequest .requiredRecords {
  height: 48px;
  position: relative;
}
.updateRequest .btnRequiredRecords {
  right: 0;
  position: absolute;
  top: -8%;
}
.updateRequest .numRecordCoontainer,
.executeRequest .numRecordCoontainer {
  display: flex;
  max-width: 680px;
  flex-wrap: wrap;
}
.updateRequest .error {
  padding-top: 14px;
}
.updateRequest .numRecord,
.executeRequest .numRecord {
  display: flex;
  height: 35px;
  background: #120023;
  border-radius: 30px;
  padding: 10px 9px 7px 13px;
  color: #fff;
  margin-right: 8px;
  margin-bottom: 8px;
}
.updateRequest .numRecord .textNum,
.executeRequest .numRecord .textNum {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-right: 8px;
}
.updateRequest .numRecord .btnNum {
  border-radius: 50%;
  border: unset;
  width: 14px;
  height: 14px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eae6ee;
  opacity: 0.5;
  cursor: pointer;
}

.mainButton {
  color: #aca2b5;
}
