.homePage {
  padding: 92px 120px 160px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.homePage .title{
  display: inline-block;
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: 60px;
  line-height: 76px;
  color: var(--dark_col);
  margin-bottom: 32px;
}
.stepsContentContainer{
  min-width: 680px;
}
.homePage .menu{
  display: flex;
}
.homePage .menu > button {
  width: calc(100% / 3 );
  text-align: center;
  cursor: pointer;
}
.homePage .menu > button:first-child{
  text-align: left;
}
.homePage .menu > button:last-child{
  text-align: right;
}
.homePage .menu .navButton.active{
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: 20px;
  line-height: 25px;
  color: var(--dark_col);
  border-bottom: 4px solid var(--dark_col);
}
.homePage .menu .navButton{
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: 20px;
  line-height: 25px;
  color: var(--grey_color);
  background-color: inherit;
  border: none;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--grey_color);
  cursor: pointer;
} 
.homePage .statusContainer {
  width: 350px;
  height: 372px;
  background: var(--background_color);
  border-radius: 20px;
  padding: 30px 40px 40px 40px;
}
.homePage .statusContainer .img{
  background-image: url(../../images/readyToDeploy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  width: 250px;
  height: 250px;
}
.homePage .statusContainer .title {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: 24px;
  line-height: 30px;
  color: var(--dark_col);
  margin-bottom: 0;
}
.homePage .statusContainer .secondaryTitle {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: 16px;
  line-height: 20px;
  color: var(--dark_col);
  text-align: center;
}
.secondary {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: 16px;
  line-height: 20px;
  color: var(--dark_col);
  text-align: left;
  margin-bottom: 20px;
}
.connectForm {
  padding: 80px 113px;
  width: 700px;
  text-align: center;
  margin: 0 auto;
  background: var(--background_color);
  border-radius: 20px;
}
.connectForm .title {
  font-family: var(--font_family_bold);
  font-style: normal;
  font-weight: var(--font_weight_bolder);
  font-size: 35px;
  line-height: 45px;
  color: var(--dark_col);
  margin-bottom: 60px;
}
.connectForm .btn {
  width: 169px;
  height: 48px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}
.connectForm .btnSecondary {
  border: none;
  color: #ACA2B5;
  margin: 29px auto 0;
}