::-webkit-scrollbar:horizontal {
  display: none;
}
:root, #root{
  height: 100%;
  --dark_col: #120023;
  --white_color: #FFFFFF;
  --grey_color: #ACA2B5;
  --background_color: #F7F5F9;
  --font_size_h1: 50px;
  --font_size_h2: 36px;
  --font_size_h3: 28px;
  --font_size_h4: 24px;
  --fon_size_h5: 18px;
  --font_size_h6: 14px;
  --font_weight_normal: 500;
  --font_weight_bolder: 800;
  --font_weight_extra_bolder: 900;
  --font_family: PlusJakarta;
  --font_family_bold: PlusJakartaSansBold;
  --font_family_medium: PlusJakartaMedium;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  flex-direction: column;
  
  height: 100%;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border: none;
  width: 100%;
}
button {
  cursor: pointer;
  display: block;
}

.copy{
  cursor: pointer;
}

.btn{
 min-width: 113px;
 height: 40px;
 background: #120023;
 border-radius: 4px;
 border: none;
 font-style: normal;
 font-family: var(--font_family_bold);
 font-weight: var(--font_weight_bolder);
 font-size: 16px;
 line-height: 18px;
 color: var(--white_color);
 padding-left: 16px;
 padding-right: 16px;
}
.connectMetamask:hover,
.connectMetamask:focus {
 border: 1px solid grey;
 box-shadow: none;
 color: grey;
}
.btn:hover,
.btn:focus {
  background: #120023;
  color: var(--white_color);
  border: none;
  opacity: 0.9;
}
.btnSecondary{
 width: 187px;
 height: 48px;
 background: var(--background_color);
 border-radius: 4px;
 font-family: var(--font_family);
 font-style: normal;
 font-weight: var(--font_weight_bolder);
 font-size: 16px;
 line-height: 20px;
 color: #120023;
}
.btnSecondary:hover,
.btnSecondary:focus {
  color: #120023;
  background: var(--background_color);
  border: none;
  opacity: 0.9;
}
.cancel {
 border: none;
 background-color: inherit;
 color: #ACA2B5;
 display: block;
 font-family: var(--font_family);
 font-style: normal;
 font-weight: var(--font_weight_bolder);
 font-size: 16px;
 line-height: 20px;
 color: #ACA2B5;
}
.cancel:hover,
.cancel:focus {
 border: none;
 color: #ACA2B5;
 opacity: 0.9;
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('./fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'PlusJakartaSansBold';
  src: url('./fonts/PlusJakartaSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'PlusJakarta';
  src: url('./fonts/PlusJakartaSans-Regular.ttf');
}
@font-face {
  font-family: 'PlusJakartaMedium';
  src: url('./fonts/PlusJakartaSans-Medium.ttf');
}